/*#testimonials .testimonial > span{
    background-image: url("../retina-images/testimonial-triangle-retina.png");
}

.process{
    background: url("../retina-images/process-bg-retina.png");
}

#process-container{
    background: url("../retina-images/process-container-bg-retina.png") no-repeat 76px 49px;
}

.button-container div .service-arrow{
    background-image: url("../retina-images/service-arrow-sprite-retina.png");
}

#main-slider-container .flex-direction-nav a {
    background: url(../retina-images/main-slider-arrows-retina.png)!important;
}

footer #top-button{
    background-image: url("../retina-images/top-arrow-retina.png");
}

#gallery-container .plus-button{
    background-image: url("../retina-images/plus-button-sprite-retina.png");
}*/
