            / %ul
              / - client.user_timeline("randalmaile", count: "10").each do |tweet|
                / %li
                  / %p= tweet.full_text
                  / This is supposed to display hashtags
                  / %span.hashtag= tweet.hashtags