/ Footer
%footer
  #upper-footer
    .width-container
      .info
        / Logo and Information
        .logo
          %h1
            RANDAL
            %span.green MAILE
          %a{href: "#"}
        %p
          Something about me here - make it good!!!!!!!!!!!!
        .clear
      / News Section
      .news
        %h3 LATEST POSTS
        / = tumblr_info
        %ul
          / News 1
          %li
            / News Date
            .date
              %span.day 16
              %span.month Jul
            / News Description
            %span Mauris non mattis libero. Curabitur pellentesque massa vitae…
          / News 1
          %li
            / News Date
            .date
              %span.day 12
              %span.month Jul
            / News Description
            %span Mauris non mattis libero. Curabitur pellentesque massa vitae…
          / News 1
          %li
            / News Date
            .date
              %span.day 08
              %span.month Jul
            / News Description
            %span Mauris non mattis libero. Curabitur pellentesque massa vitae…
          %li.last
      / Tweets Section
      .tweets
        %h3 RECENT TWEETS
        .tweet-container
          %span.icon-twitter
          #tweet-inner-container

          #more-button-container
            %a.more-tweets{href: "https://twitter.com/randalmaile", target: "_blank"}
              %span more tweets
              %span.icon-caret-right
            .clear
        %a#top-button{href: "#main-slider-container"}
      .clear
  / Bottom of Footer
  #bottom-footer
    .width-container
      / Copyright info
      %span ©2014 Randal Maile. All rights reserved
      / Social Media Links
      .social-links
        %ul
          %li
            %a.icon-linkedin{href: "#"}
            / Linkedin Link
          %li
            %a.icon-github{href: "#"}
            / Pinterest Link
          %li
            %a.icon-twitter{href: "#"}
            / Twitter Link
      / Footer Navigation links
      %ul.nav
        %li
          %a{href: "#main-slider-container"} Home
        %li
          %a{href: "#row1"} Skills
        %li
          %a{href: "#row2"} Portfolio
        %li
          %a{href: "#row3"} Feedback
        %li
          %a{href: "#row4"} About Me
        %li
          %a{href: "#row5"} Contact
      .clear