%head
    %meta{charset: 'utf-8'}
    %meta{content: "width=device-width, user-scalable=no, target-densitydpi=device-dpi", name: "viewport"}/
    %title= current_page.data.title || ''
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}

    :plain
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    / Favicon  
    %link{href: "images/favicon.ico", rel: "shortcut icon"}/

    // Stylesheets
    %link{href: "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900,400italic,600italic", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/fonts.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/font-awesome.min.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/reset.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/styles.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/responsive.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/flexslider.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "stylesheets/jquery.bxslider.css", rel: "stylesheet", type: "text/css"}/
    / Color Scheme
    %link#layout-css{href: "stylesheets/layouts/green-layout.css", rel: "stylesheet", type: "text/css"}/

    // Scripts
    %script{src: "javascripts/jquery-1.10.2.min.js", type: "text/javascript"}
    / jQuery Migrate
    %script{src: "javascripts/jquery-migrate-1.2.1.min.js", type: "text/javascript"}
    / Modernizr
    %script{src: "javascripts/modernizr.custom.53842.js", type: "text/javascript"}