/ Header
%header#header.iconic
  .width-container
    / Logo Area
    .logo
      %h1
        RANDAL
        %span.green MAILE
    / Main Navigation Bar
    #main-nav
      / Main Navigation Links
      %ul
        %li.selected
          %a#home-button{href: "#main-slider-container"}
            %i.icon-home
            %span Home
        %li
          %a#services-button{href: "#row1"}
            %i.icon-cog
            %span Skills
        %li
          %a#about-button{href: "#row2"}
            %i.icon-lightbulb
            %span Portfolio
        %li
          %a#team-button{href: "#row3"}
            %i.icon-heart
            %span Feedback
        %li
          %a#portfolio-button{href: "#row4"}
            %i.icon-rocket
            %span About Me
        %li
          %a#contact-button{href: "#row5"}
            %i.icon-envelope
            %span Contact
        %li.clear
      .clear
    .clear