%script{src: "javascripts/jquery.flexslider-min.js", type: "text/javascript"}
/ MixItUp
%script{src: "javascripts/jquery.mixitup.min.js", type: "text/javascript"}
/ BX Slider
%script{src: "javascripts/jquery.bxslider.min.js", type: "text/javascript"}
/ Animation Pause Plugin
%script{src: "javascripts/jquery.pause.min.js", type: "text/javascript"}
/ BGPOS
%script{src: "javascripts/jquery.bgpos.js", type: "text/javascript"}
/ TinyNav
%script{src: "javascripts/tinynav.js", type: "text/javascript"}
/ Tweeter module
%script{src: "javascripts/jquery.tweet.js", type: "text/javascript"}
/ Main JS file
%script{src: "javascripts/main.js", type: "text/javascript"}