// Scripts

:javascript
    var TUMBLR_API_KEY = "Kn4ApAuZEtTi0Cv9PTcs8PmzUhJYguCK1QDaGbcQyCVMFisbp5";
    var TUMBLR_HOSTNAME = "randalmaile.tumblr.com";

%script{src: "javascripts/jquery-1.10.2.min.js", type: "text/javascript"}

%script{src: "javascripts/jquery.flexslider-min.js", type: "text/javascript"}
/ jQuery Migrate
%script{src: "javascripts/jquery-migrate-1.2.1.min.js", type: "text/javascript"}
/ Modernizr
%script{src: "javascripts/modernizr.custom.js", type: "text/javascript"}
/ JS render
%script{src: "javascripts/jsrender.min.js", type: "text/javascript"}
/ Tumblr-kit
%script{src: "javascripts/jquery.tumblr-kit.min.js", type: "text/javascript"}
/ MixItUp
%script{src: "javascripts/jquery.mixitup.min.js", type: "text/javascript"}
/ BX Slider
%script{src: "javascripts/jquery.bxslider.min.js", type: "text/javascript"}
/ Animation Pause Plugin
%script{src: "javascripts/jquery.pause.min.js", type: "text/javascript"}
/ BGPOS
%script{src: "javascripts/jquery.bgpos.js", type: "text/javascript"}
/ TinyNav
%script{src: "javascripts/tinynav.js", type: "text/javascript"}
/ Main JS file
%script{src: "javascripts/main.js", type: "text/javascript"}


