// Scripts

:javascript
    var TUMBLR_API_KEY = "Kn4ApAuZEtTi0Cv9PTcs8PmzUhJYguCK1QDaGbcQyCVMFisbp5";
    var TUMBLR_HOSTNAME = "randalmaile.tumblr.com";

%script{src: "javascripts/all.js", type: "text/javascript"}


