/ Blocmarks
%li.gallery-item.all.apps
  / Add filter name as class
  .image-area
    %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
    / Gallery Item Image
    .transparent-hover
    %span.plus-button
    / Gallery Item Description
    .gallery-item-description
      %p This text could be a brief blurb about the project and your role in creating it.
    %button.gallery-show-modal
  / Gallery Item Title and Category
  %h5 Blocmarks
  %span.category Responsive Rails Application
  .gallery-modal-container
    .gallery-inner-container.grey
      .portfolio-modal
        %button.close-button X
        .image-area
          %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
          / Gallery Item Modal Window Image
          .portfolio-nav
            %button.gallery-prev &lt;
            %button.gallery-next &gt;
        .details
          / Gallery Item Modal Window Title
          %h2 Blocmarks
          / Gallery Item Modal Window Content
          .project-info
            %span Responsive Rails Application
            %span.separator ::
            %span February 2013
          %p.content
            Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
            ipsum
            varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
            neque.
            Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
            vestibulum
            aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
        .collapsable-items-container
          / Gallery Item Modal Window Collapsable Info 1
          .collapsable-item
            .clickable-area
              %button +
              / Gallery Item Modal Window Collapsable Info Label
              %h4 Client
            .hidden-container
              / Gallery Item Modal Window Collapsable Info Content
              %ul
                %li Client 1
                %li Client 2
                %li Client 3
          / Gallery Item Modal Window Collapsable Info 2
          .collapsable-item
            .clickable-area
              %button +
              / Gallery Item Modal Window Collapsable Info Label
              %h4 Tasks
            .hidden-container
              / Gallery Item Modal Window Collapsable Info Content
              %ul
                %li Task 1
                %li Task 2
                %li Task 3
          / Gallery Item Modal Window Collapsable Info 3
          .collapsable-item
            .clickable-area
              %button +
              / Gallery Item Modal Window Collapsable Info Label
              %h4 Skills
            .hidden-container
              / Gallery Item Modal Window Collapsable Info Content
              %ul
                %li Web Design &amp; Development
                %li HTML, CSS &amp; JavaScript
                %li Photoshop &amp; Illustrator               
  / Blocit
/ Bloccit
%li.gallery-item.all.responsive
  / Add filter name as class
  .image-area
    %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
    / Gallery Item Image
    .transparent-hover
    %span.plus-button
    / Gallery Item Description
    .gallery-item-description
      %p A full-bodied Reddit clone - social networking news service where members submit posts or direct links with voting and favoriting functionality.
    %button.gallery-show-modal
  / Gallery Item Title and Category
  %h5 Bloccit
  %span.category Responsive Rails Application
  .gallery-modal-container
    .gallery-inner-container.grey
      .portfolio-modal
        %button.close-button X
        .image-area
          %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
          / Gallery Item Modal Window Image
          .portfolio-nav
            %button.gallery-prev &lt;
            %button.gallery-next &gt;
        .details
          / Gallery Item Modal Window Title
          %h2 Bloccit social networking news service
          / Gallery Item Modal Window Content
          .project-info
            %span Responsive Rails Application Development
            %span.separator ::
            %span December 2013
          %p.content
            Bloccit is an entertainment, social networking service and news website where registered community members can submit content, such as text posts or direct links. Only registered users can then vote submissions "up" or "down" to organize the posts and determine their position on the site's pages. Content entries are categoriezed by topic and managed by administrators
        .collapsable-items-container
          / Gallery Item Modal Window Collapsable Info 1
          .collapsable-item
            .clickable-area
              %button +
              / Gallery Item Modal Window Collapsable Info Label
              %h4 Client
            .hidden-container
              / Gallery Item Modal Window Collapsable Info Content
              %ul
                %li Client 1
                %li Client 2
                %li Client 3
          / Gallery Item Modal Window Collapsable Info 2
          .collapsable-item
            .clickable-area
              %button +
              / Gallery Item Modal Window Collapsable Info Label
              %h4 Tasks
            .hidden-container
              / Gallery Item Modal Window Collapsable Info Content
              %ul
                %li Task 1
                %li Task 2
                %li Task 3
          / Gallery Item Modal Window Collapsable Info 3
          .collapsable-item
            .clickable-area
              %button +
              / Gallery Item Modal Window Collapsable Info Label
              %h4 Skills
            .hidden-container
              / Gallery Item Modal Window Collapsable Info Content
              %ul
                %li Web Design &amp; Development
                %li HTML, CSS &amp; JavaScript
                %li Photoshop &amp; Illustrator




  / About Me Row
    #row2.row
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tbody
              %tr
                %td
                  %h1 About Me
        %h2
          Front-end guru with solid application development skills
        .clear
      .content-container
        / Row Contents
        .clear



/ Contact Form

    %form{action: "https://rmwebsite-contact.herokuapp.com/", method: "post"}
            .input
              %span Name
              %input{name: "Name", type: "text"}/
            .input
              %span Email
              %input{name: "Email", type: "email"}/
            .input
              %span Subject
              %input{name: "Subject", type: "text"}/
            .textarea
              %span Message
              %textarea{name: "Message"}
            %span All fields required
            %button{type: "submit"} Submit
            .clear

