#main-body-container
  / Main Slider Container
  #main-slider-container
    %img{alt: "slider-loading-animation", src: "images/loading.gif"}/
    / Main Slider
    .flexslider
      %ul.slides
        / Slide1
        %li{style: "background: url('images/backgrounds/301418407_de4ef324c2_o.jpg');"}
          / Slide Background
          .width-container
            .slider-heading-container
              / Slider Top Captions
              .main-headings
                %h1.main-heading I'm a font-end web developer
                %span.heading-connector1
                %h2 I live and breath HTML5, CSS3, Javascript... 
              / Slider Sub Captions
              .sub-headings
                %h2
                  %span
                    %i.icon-chevron-right
                  \...and build atop Rails and .NET frameworks
                %h2
                  %span
                    %i.icon-chevron-right
                  Elegant code + thoughtful UI/UX = MAGIC
                / %h2
                /   %span
                /     %i.icon-chevron-right
                /   Perfect for a wide variety of uses
            / %img#slide1-element.slide-element{alt: "slide-element", src: "images/PortfolioThumbs.png"}/
            / Floating element
        / Slide2
        %li{style: "background: url('images/backgrounds/manq.jpg');"}
          / Slide Background
          .width-container
            .slider-heading-container
              / Slider Top Captions
              .main-headings
                %h1.main-heading Diving deeper these days...
                / %span.heading-connector1
                / %h2 and gaining speed on:
                / %span.heading-connector2
              / Slider Sub Captions
              .sub-headings
                %h2
                  %span
                    %i.icon-chevron-right
                  Responsive Web Design
                %h2
                  %span
                    %i.icon-chevron-right
                  Ruby on Rails application development
                %h2
                  %span
                    %i.icon-chevron-right
                  Single-page applications
            / %img#slide2-element.slide-element{alt: "slide-element", src: "images/slide2-placeholder-element.png"}/
            / Floating element
        / Slide3
        %li{style: "background: url('images/backgrounds/RM.jpg');"}
          / Slide Background
          .width-container
            .slider-heading-container
              / Slider Top Captions
              .main-headings
                %h1.main-heading Take a look @ MY
                / %span.heading-connector1
                / %h2 @ MY
                / %span.heading-connector2
              / Slider Sub Captions
              .sub-headings
                %h2
                  %span
                    %i.icon-chevron-right
                  %a{:href => "#row1"} Skills
                %h2
                  %span
                    %i.icon-chevron-right
                  %a{:href => "#row2"} Portfolio
                %h2
                  %span
                    %i.icon-chevron-right
                  Or 
                  %a{:href => "#row6"} contact me 
                  for employment, a cool app idea or contributions to open-source projects
            / %img#slide2-element.slide-element{alt: "slide-element", src: "images/slide2-placeholder-element.png"}/
            / Floating element
    .progress-bar
      .bar
  / Skills
  #row1.row
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Skills
        %h2
          Front-end guru with solid application development skills
        .clear
      .content-container
        / Row Contents
        .container.left
          %h3 My Focus
          %p
            I live and breath in the front and back-end sphere but envision and plan in the UI/UX world. My HTML5, JavaScript, CSS, Ruby/.NET tools are always sharpened and ready to go!
          #skills-container
            / Skill 1
            #skill1.skill.empty
              .bar
              %h4.skill-name.exp 
                Front-end  :: 
                %span Expert
            / Skill 2
            #skill2.skill.empty
              .bar
              %h4.skill-name.int
                ASP.NET / C#  :: 
                %span Intermed
            / Skill 3
            #skill3.skill.empty
              .bar
              %h4.skill-name.adv 
                CMS  :: 
                %span Adv
            / Skill 4
            #skill4.skill.empty
              .bar
              %h4.skill-name.intro 
                Ruby on Rails  :: 
                %span Intro
            / Skill 5
            #skill5.skill.empty
              .bar
              %h4.skill-name.adv 
                UX / Visual Design  :: 
                %span Adv
        .left.last
          / Rotating Buttons Area
          .button-container
            / Rotating Buttons
            / Rotating Button 1
            .button1
              %button.icon-puzzle-piece
              %span.service-arrow
            / Rotating Button 2
            .button2
              %button.icon-cogs
              %span.service-arrow
            / Rotating Button 3
            .button3
              %button.icon-leaf
              %span.service-arrow
            / Rotating Button 4
            .button4
              %button.icon-rocket
              %span.service-arrow
            / Rotating Button 5
            .button5
              %button.icon-dashboard
              %span.service-arrow
            .clear
          %span#notched-line
          / Content Area for Rotating Buttons
          #service-description-container
            / Default content area
            .service-description.default
              %h3
                Front-end
              %ul.bulletList
                %li HTML5
                %li Standards Compliance / Accessibility
                %li CSS
                %li Unobtrusive javascript / jQuery
                %li Angular.js
                %li CSS pre-processing (SASS)
                %li Haml
                %li AJAX
                %li Responsive Frameworks (Bootstrap/Foundation)
                %li
                  Static Site Generation
                  %ul
                    %li Middleman
                    %li Jekyl
              %span
            / Rotating Button 1 Content Area
            .service-description.button1
              %span.icon-puzzle-piece
              %h3
                Ruby on Rails
              %ul.bulletList
                %li Ruby
                %li Rails 3/4
                %li RSpec/FactoryGirl
                %li Command line
                %li Ruby/Gem management
                %li MVC/REST/Routing
                %li PostgreSQL/SQLite
                %li Model visualization / planning
              %span
            / Rotating Button2 Content Area
            .service-description.button2
              %span.icon-cogs
              %h3
                ASP.NET/C#
              %ul.bulletList
                %li Web Forms
                %li MVC 3
              %span
            / Rotating Button3 Content Area
            .service-description.button3
              %span.icon-leaf
              %h3
                Visualization / Mockup Tools
              %ul.bulletList
                %li Photoshop
                %li Illustrator
                %li Invision Prototyping
                %li Bootstrap
                %li Foundation
              %span
            / Rotating Button4 Content Area
            .service-description.button4
              %span.icon-rocket
              %h3
                CMS
              %ul.bulletList
                %li Drupal/Wordpress
                %li SharePoint - WCM
                %li OmniUpdate - OU Campus
              %span
            / Rotating Button5 Content Area
            .service-description.button5
              %span.icon-rocket
              %h3
                Source Control
              %ul.bulletList
                %li GIT/GitHub
                %li Mercurial/Kiln
              %span
        .clear
  / Parallax 1
  .parallax-container.parallax1
    %img.parallax-bg{alt: "parallax-background", src: "images/enso_zen1.jpg"}/
    / Parallax 1 Background
    .width-container
      .testimonial-container
        / Quotes area
        .testimonial
          %span.quote-mark “
          / Quotes
          %p
            The ability to simplify means to eliminate the unnecessary so that the necessary may speak.
        / Testimonial By
        .testimonial-by-container
          %div
            %span.testimonial-by{style: "color: #2E0055; font-weight: bold;"} Hans Hofmann -
            %br/
            %span.testimonial-by-location{style: "position: relative; top: 14px;"}
              Abstract expressionist
            .clear
        .clear
  / Portfolio
  #row2.row
    .width-container
    / Row Headings
    .heading-container
      .container
        %table
          %tr
            %td
              %h1 Portfolio
      %h2 I enjoy the challenge of solving complex problems and creating great user experiences. Writing elegant and efficient code whether its Ruby/Rails or C#/ASP.NET in conjunction with HTML, CSS or jQuery is what makes me tick.
      .clear
    / Row Contents
    .content-container
      #gallery-container
        / Gallery Filters
        .gallery-options
          %button.button1.active.filter{"data-filter" => "all"} ALL
          / Gallery Filter (Only the text "ALL" inside the button can be changed)
          %button.button2.filter{"data-filter" => "apps"} Applications
          / Gallery Filter
          %button.button3.filter{"data-filter" => "responsive"} Responsive/Mobile
          / Gallery Filter
          %button.button4.filter{"data-filter" => "web"} Websites
          / Gallery Filter
        .gallery-options.column-selector
          %button.button2 2-COLUMNS
          %button.button3 3-COLUMNS
          %button.button4.active 4-COLUMNS
        .clear
        / Gallery Area
        %ul#gallery.four-cols
          / Change this ul's class name to "two-cols", "three-cols" or "four-cols"
          / UCR Admissions
          %li.gallery-item.all.apps
            / Add filter name as class
            .image-area
              %img{alt: "portfolio-thumb", src: "images/proj-admissions-400px.png"}/
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Front-end development + APS.NET MVC3 application development.
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 UCR Admissions
            %span.category ASP.NET Application Development
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %button.close-button X
                  .image-area
                    %img{alt: "portfolio-large-image", src: "images/proj-admissions-595px.png"}/
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 UCR Admissions / International Admissions Suite
                    / Gallery Item Modal Window Content
                    .project-info
                      %span ASP.NET Application Development
                      %span.separator ::
                      %span 2013-2014 ongoing
                    %p.content
                      Our admissions websites serve a large number of students needs, including application requirements, admissions procedures, deadline and student notification management, social networking integration and custom forms.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Partners
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Student Affairs Communications
                          %li Enrollment Management
                          %li Vice Chancellor - Student Affairs
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li UX/UI Design
                          %li Front-end coding
                          %li Dynamic Date / API Integration
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li HTML5, CSS3, jQuery, AJAX, custom plugin development
                          %li ASP.NET MVC3, domain modeling, form processing, data validation
                          %li Mercurial Source Control, Project Management
          / Culinary Chameleon
          %li.gallery-item.all.responsive
            / Add filter name as class
            .image-area
              %img{alt: "portfolio-thumb", src: "images/proj-culinary-400px.png"}/
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Mobile / Responsive Web Design + APS.NET MVC3 application development.
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 Culinary Chameleon
            %span.category Responsive Website
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %button.close-button X
                  .image-area
                    %img{alt: "portfolio-large-image", src: "images/proj-culinary-595px.png"}/
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 Culinary Chameleon / UCR Food Trucks
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Responsive Website
                      %span.separator ::
                      %span July 2013
                    %p.content
                      Implemented the Culinary Chameleon mobile/responsive website to showcase menu, location, hours, polls, twitter feeds and reservation requests forms for our campus food trucks.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Client
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Student Affairs Communications
                          %li Housing, Dining and Residential Services
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Front-end coding
                          %li Responsive web design
                          %li Dynamic Date / API Integration
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li HTML5, CSS3, jQuery
                          %li Zurb Foundation based responsive coding
                          %li ASP.NET MVC3, domain modeling, form processing, data validation
                          %li Mercurial Source Control, Project Management
          / UCR Housing
          %li.gallery-item.all.web
            / Add filter name as class
            .image-area
              %img{alt: "portfolio-thumb", src: "images/proj-housing-400px.png"}/
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Front-end development + APS.NET Web Forms application development
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 UCR Housing
            %span.category Website
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %button.close-button X
                  .image-area
                    %img{alt: "portfolio-large-image", src: "images/proj-housing-595px.png"}/
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 Project Detail Title
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Website
                      %span.separator ::
                      %span February 2013
                    %p.content
                      Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                      ipsum
                      varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                      neque.
                      Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                      vestibulum
                      aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Client
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Client 1
                          %li Client 2
                          %li Client 3
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Task 1
                          %li Task 2
                          %li Task 3
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Web Design &amp; Development
                          %li HTML, CSS &amp; JavaScript
                          %li Photoshop &amp; Illustrator
          / Visit UCR
          %li.gallery-item.all.apps
            / Add filter name as class
            .image-area
              %img{alt: "portfolio-thumb", src: "images/proj-visit-400px.png"}/
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p Put in a full description here
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 Visit UCR Tours
            %span.category ASP.NET Application Development
            .gallery-modal-container
              .gallery-inner-container.grey
                %button.close-button X
                .portfolio-modal
                  .image-area
                    %img{alt: "portfolio-large-image", src: "images/proj-visit-595px.png"}/
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 Project Detail Title
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Application Development
                      %span.separator ::
                      %span February 2013
                    %p.content
                      Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                      ipsum
                      varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                      neque.
                      Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                      vestibulum
                      aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Client
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Client 1
                          %li Client 2
                          %li Client 3
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Task 1
                          %li Task 2
                          %li Task 3
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Web Design &amp; Development
                          %li HTML, CSS &amp; JavaScript
                          %li Photoshop &amp; Illustrator            
          / International Admissions               
          %li.gallery-item.all.web
            / Add filter name as class
            .image-area
              %img{alt: "portfolio-thumb", src: "images/proj-international-400px.png"}/
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p This text could be a brief blurb about the project and your role in creating it.
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 International Admissions
            %span.category Website
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %button.close-button X
                  .image-area
                    %img{alt: "portfolio-large-image", src: "images/proj-international-595px.png"}/
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 UCR International Admissions
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Website
                      %span.separator ::
                      %span April 2010 - ongoing
                    %p.content
                      Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                      ipsum
                      varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                      neque.
                      Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                      vestibulum
                      aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Client
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Client 1
                          %li Client 2
                          %li Client 3
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Task 1
                          %li Task 2
                          %li Task 3
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Web Design &amp; Development
                          %li HTML, CSS &amp; JavaScript
                          %li Photoshop &amp; Illustrator
          / Registrar
          %li.gallery-item.all.apps
            / Add filter name as class
            .image-area
              %img{alt: "portfolio-thumb", src: "images/proj-registrar-400px.png"}/
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p This text could be a brief blurb about the project and your role in creating it.
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 Registrar
            %span.category ASP.NET Application Development
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %button.close-button X
                  .image-area
                    %img{alt: "portfolio-large-image", src: "images/proj-registrar-595px.png"}/
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 Registrar's Dynamic Website
                    / Gallery Item Modal Window Content
                    .project-info
                      %span ASP.NET Application Development
                      %span.separator ::
                      %span July 2013
                    %p.content
                      Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                      ipsum
                      varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                      neque.
                      Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                      vestibulum
                      aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Client
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Registrar's Office 
                          %li Student Affairs Marketing
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Task 1
                          %li Task 2
                          %li Task 3
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Web Design &amp; Development
                          %li HTML, CSS &amp; JavaScript
                          %li Photoshop &amp; Illustrator
          / LeRoch Lab
          %li.gallery-item.all.web
            / Add filter name as class
            .image-area
              %img{alt: "portfolio-thumb", src: "images/proj-leroch-400px.png"}/
              / Gallery Item Image
              .transparent-hover
              %span.plus-button
              / Gallery Item Description
              .gallery-item-description
                %p This text could be a brief blurb about the project and your role in creating it.
              %button.gallery-show-modal
            / Gallery Item Title and Category
            %h5 LeRoch Lab
            %span.category Website
            .gallery-modal-container
              .gallery-inner-container.grey
                .portfolio-modal
                  %button.close-button X
                  .image-area
                    %img{alt: "portfolio-large-image", src: "images/proj-leroch-595px.png"}/
                    / Gallery Item Modal Window Image
                    .portfolio-nav
                      %button.gallery-prev &lt;
                      %button.gallery-next &gt;
                  .details
                    / Gallery Item Modal Window Title
                    %h2 LeRoch Lab
                    / Gallery Item Modal Window Content
                    .project-info
                      %span Website
                      %span.separator ::
                      %span April 2010 - ongoing
                    %p.content
                      Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                      ipsum
                      varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                      neque.
                      Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                      vestibulum
                      aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                  .collapsable-items-container
                    / Gallery Item Modal Window Collapsable Info 1
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Client
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Client 1
                          %li Client 2
                          %li Client 3
                    / Gallery Item Modal Window Collapsable Info 2
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Tasks
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Task 1
                          %li Task 2
                          %li Task 3
                    / Gallery Item Modal Window Collapsable Info 3
                    .collapsable-item
                      .clickable-area
                        %button +
                        / Gallery Item Modal Window Collapsable Info Label
                        %h4 Skills
                      .hidden-container
                        / Gallery Item Modal Window Collapsable Info Content
                        %ul
                          %li Web Design &amp; Development
                          %li HTML, CSS &amp; JavaScript
                          %li Photoshop &amp; Illustrator
  / Contact Row
  #row6.row.grey
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Contact
        %h2 Interested in hiring for a site buildout, Rails app, ASP.NET app, or full-time position?  Feel free to contact me.
        .clear
        #form-alert
      / Row Contents
      .content-container
        .container.left
          %p.soc-contact 
            %a{:href => "http://twitter.com/randalmaile"} 
              %img{:src => "images/icons/twitter.png", :alt => ""}/ 
              Connect on twitter
          %p.soc-contact  
            %a{:href => "https://www.linkedin.com/in/randalmaile"} 
              %img{:src => "images/icons/linkedin.png", :alt => ""}/ 
              Connect through LinkedIn
          / Contact Information
          .contact-details
            %ul
              %li
                %span.icon-home
                %span.contact-detail
                  1102 Turquoise St
                  %br/
                  / Contact Address
                  San Diego, CA   92109
                .clear
              %li
                %span.icon-mobile-phone
                %span.contact-detail 858.717.1052
                / Contact Phone
                .clear
              %li
                %span.icon-envelope
                %span.contact-detail 
                  %a{:href => "mailto:randalmaile@gmail.com"} randalmaile@gmail.com
                / Contact Email
                .clear
        .left.last
          / Contact Form
          %form{action: "https://rmwebsite-contact.herokuapp.com/", method: "post"}
            .input
              %span Name
              %input{name: "Name", type: "text"}/
            .input
              %span Email
              %input{name: "Email", type: "email"}/
            .input
              %span Subject
              %input{name: "Subject", type: "text"}/
            .textarea
              %span Message
              %textarea{name: "Message"}
            %span All fields required
            %button{type: "submit"} Submit
            .clear
        .clear
  .width-container
  #overlay
    %div



