---
title: Welcome to Middleman-Haml-Bootstrap-Sass
---

#main-body-container
  / Header
  %header#header.iconic
    .width-container
      / Logo Area
      .logo
        %h1
          RANDAL 
          %span.green MAILE
      / Main Navigation Bar
      #main-nav
        / Main Navigation Links
        %ul
          %li.selected
            %a#home-button{href: "#main-slider-container"}
              %i.icon-home
              %span Home
          %li
            %a#services-button{href: "#row1"}
              %i.icon-cog
              %span Services
          %li
            %a#about-button{href: "#row2"}
              %i.icon-lightbulb
              %span About
          %li
            %a#team-button{href: "#row3"}
              %i.icon-heart
              %span Team
          %li
            %a#portfolio-button{href: "#row4"}
              %i.icon-rocket
              %span Portfolio
          %li
            %a#clients-button{href: "#row5"}
              %i.icon-group
              %span Clients
          %li
            %a#contact-button{href: "#row6"}
              %i.icon-envelope
              %span Contact
          %li.clear
        .clear
      .clear
  / Main Slider Container
  #main-slider-container
    %img{alt: "slider-loading-animation", src: "images/loading.gif"}/
    / Main Slider
    .flexslider
      %ul.slides
        / Slide1
        %li{style: "background: url('images/backgrounds/301418407_de4ef324c2_o.jpg');"}
          / Slide Background
          .width-container
            .slider-heading-container
              / Slider Top Captions
              .main-headings
                %h1.main-heading Avid font-end web developer
                %span.heading-connector1
                %h2 Passionate about crafting robust web applications and websites
        / Slide2
        %li{style: "background: url('images/backgrounds/301418670_3161e5872e_o.jpg');"}
          / Slide Background
          .width-container
            .slider-heading-container
              / Slider Top Captions
              .main-headings
                %h1.main-heading Multipurpose and Customizable
                %span.heading-connector1
                %h2 Easily setup a professional looking website
                %span.heading-connector2
              / Slider Sub Captions
              .sub-headings
                %h2
                  %span
                    %i.icon-chevron-right
                  Your content will look great on any device
                %h2
                  %span
                    %i.icon-chevron-right
                  Set up your customized site in no time!
                %h2
                  %span
                    %i.icon-chevron-right
                  Perfect for a wide variety of uses
              %button Purchase Now
            %img#slide2-element.slide-element{alt: "slide-element", src: "images/slide2-placeholder-element.png"}/
            / Floating element
    .progress-bar
      .bar
  / Skills
  #row1.row
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Skills
        %h2
          Front-end guru with solid application development skills
        .clear
      .content-container
        / Row Contents
        .container.left
          %h3 My Focus
          %p
            I live and breath in the front and back-end sphere but envision and plan in the UI/UX world. My HTML5, JavaScript, CSS, Ruby/.NET tools are always sharpened and ready to go!
          #skills-container
            / Skill 1
            #skill1.skill.empty
              .bar
              %h4.skill-name Front-end :: 90%
            / Skill 2
            #skill2.skill.empty
              .bar
              %h4.skill-name Ruby on Rails :: 70%
            / Skill 3
            #skill3.skill.empty
              .bar
              %h4.skill-name CMS :: 70%
            / Skill 4
            #skill4.skill.empty
              .bar
              %h4.skill-name ASP.NET :: 65%
            / Skill 5
            #skill5.skill.empty
              .bar
              %h4.skill-name UX / Visual Design:: 50%
        .left.last
          / Rotating Buttons Area
          .button-container
            / Rotating Buttons
            / Rotating Button 1
            .button1
              %button.icon-puzzle-piece
              %span.service-arrow
            / Rotating Button 2
            .button2
              %button.icon-cogs
              %span.service-arrow
            / Rotating Button 3
            .button3
              %button.icon-leaf
              %span.service-arrow
            / Rotating Button 4
            .button4
              %button.icon-rocket
              %span.service-arrow
            / Rotating Button 5
            .button5
              %button.icon-dashboard
              %span.service-arrow
            .clear
          %span#notched-line
          / Content Area for Rotating Buttons
          #service-description-container
            / Default content area
            .service-description.default
              %h3
                Building Trust by Providing Quality
              %p
                When you need our help, we will be there! No waiting for days for returned emails. No
                wondering if your request has been received. We make sure you know you’re special to us and
                that your needs are important.
              %span
            / Rotating Button 1 Content Area
            .service-description.button1
              %span.icon-puzzle-piece
              %h3
                Modern Elegant Design
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae elit enim. Nullam
                sagittis elementum est, a condimentum nulla hendrerit ac. Mauris vitae nulla orci. Cras
                sollicitudin sapien viverra nisl pretium semper. Donec sed diam ipsum. Etiam nec
                sollicitudin metus.
            / Rotating Button2 Content Area
            .service-description.button2
              %span.icon-cogs
              %h3
                Responsive Layout
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae elit enim. Nullam
                sagittis elementum est, a condimentum nulla hendrerit ac. Mauris vitae nulla orci. Cras
                sollicitudin sapien viverra nisl pretium semper. Donec sed diam ipsum. Etiam nec
                sollicitudin metus.
            / Rotating Button3 Content Area
            .service-description.button3
              %span.icon-leaf
              %h3
                Parallax Design
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae elit enim. Nullam
                sagittis elementum est, a condimentum nulla hendrerit ac. Mauris vitae nulla orci. Cras
                sollicitudin sapien viverra nisl pretium semper. Donec sed diam ipsum. Etiam nec
                sollicitudin metus.
            / Rotating Button4 Content Area
            .service-description.button4
              %span.icon-rocket
              %h3
                Powerful Portfolio
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae elit enim. Nullam
                sagittis elementum est, a condimentum nulla hendrerit ac. Mauris vitae nulla orci. Cras
                sollicitudin sapien viverra nisl pretium semper. Donec sed diam ipsum. Etiam nec
                sollicitudin metus.
            / Rotating Button5 Content Area
            .service-description.button5
              %span.icon-dashboard
              %h3
                Multipurpose and fun to work with
              %p
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae elit enim. Nullam
                sagittis elementum est, a condimentum nulla hendrerit ac. Mauris vitae nulla orci. Cras
                sollicitudin sapien viverra nisl pretium semper. Donec sed diam ipsum. Etiam nec
                sollicitudin metus.
        .clear
  / Parallax 1
  .parallax-container.parallax1
    %img.parallax-bg{alt: "parallax-background", src: "images/backgrounds/trainwreck.jpg"}/
    / Parallax 1 Background
    .width-container
      .testimonial-container
        / Quotes area
        .testimonial
          %span.quote-mark “
          / Quotes
          %p
            Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
        / Testimonial By
        .testimonial-by-container
          %div
            %span.testimonial-by Martin Golding
            %br/
            %span.testimonial-by-location 
            .clear
        .clear
  / Our Work Row
  #row4.row
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Portfolio
        %h2 I enjoy challenge of solving complex problems and creating great user experiences. Writing elegant and efficient code whether its Ruby/Rails or C#/NET along with HTML, CSS or jQuery is what makes me tick.  Here's a sampling of these principles at work.
        .clear
      / Row Contents
      .content-container
        #gallery-container
          / Gallery Filters
          .gallery-options
            %button.button1.active.filter{"data-filter" => "all"} ALL
            / Gallery Filter (Only the text "ALL" inside the button can be changed)
            %button.button2.filter{"data-filter" => "web"} WEB
            / Gallery Filter
            %button.button3.filter{"data-filter" => "photography"} PHOTOGRAPHY
            / Gallery Filter
            %button.button4.filter{"data-filter" => "print"} PRINT
            / Gallery Filter
            %button.button5.filter{"data-filter" => "branding"} BRANDING
            / Gallery Filter
          .gallery-options.column-selector
            %button.button2 2-COLUMNS
            %button.button3 3-COLUMNS
            %button.button4.active 4-COLUMNS
          .clear
          / Gallery Area
          %ul#gallery.four-cols
            / Change this ul's class name to "two-cols", "three-cols" or "four-cols"
            / Gallery Item 1
            %li.gallery-item.all.web
              / Add filter name as class
              .image-area
                %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
                / Gallery Item Image
                .transparent-hover
                %span.plus-button
                / Gallery Item Description
                .gallery-item-description
                  %p This text could be a brief blurb about the project and your role in creating it.
                %button.gallery-show-modal
              / Gallery Item Title and Category
              %h5 Project Title Here
              %span.category Web Design
              .gallery-modal-container
                .gallery-inner-container.grey
                  %button.close-button X
                  .portfolio-modal
                    .image-area
                      %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
                      / Gallery Item Modal Window Image
                      .portfolio-nav
                        %button.gallery-prev &lt;
                        %button.gallery-next &gt;
                    .details
                      / Gallery Item Modal Window Title
                      %h2 Project Detail Title
                      / Gallery Item Modal Window Content
                      .project-info
                        %span Web Design
                        %span.separator ::
                        %span February 2013
                      %p.content
                        Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                        ipsum
                        varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                        neque.
                        Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                        vestibulum
                        aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                    .collapsable-items-container
                      / Gallery Item Modal Window Collapsable Info 1
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Client
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Client 1
                            %li Client 2
                            %li Client 3
                      / Gallery Item Modal Window Collapsable Info 2
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Tasks
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Task 1
                            %li Task 2
                            %li Task 3
                      / Gallery Item Modal Window Collapsable Info 3
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Skills
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Web Design &amp; Development
                            %li HTML, CSS &amp; JavaScript
                            %li Photoshop &amp; Illustrator
            / Gallery Item 2
            %li.gallery-item.all.photography
              / Add filter name as class
              .image-area
                %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
                / Gallery Item Image
                .transparent-hover
                %span.plus-button
                / Gallery Item Description
                .gallery-item-description
                  %p This text could be a brief blurb about the project and your role in creating it.
                %button.gallery-show-modal
              / Gallery Item Title and Category
              %h5 Project Title Here
              %span.category Photography
              .gallery-modal-container
                .gallery-inner-container.grey
                  .portfolio-modal
                    %button.close-button X
                    .image-area
                      %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
                      / Gallery Item Modal Window Image
                      .portfolio-nav
                        %button.gallery-prev &lt;
                        %button.gallery-next &gt;
                    .details
                      / Gallery Item Modal Window Title
                      %h2 Project Detail Title
                      / Gallery Item Modal Window Content
                      .project-info
                        %span Photography
                        %span.separator ::
                        %span February 2013
                      %p.content
                        Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                        ipsum
                        varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                        neque.
                        Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                        vestibulum
                        aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                    .collapsable-items-container
                      / Gallery Item Modal Window Collapsable Info 1
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Client
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Client 1
                            %li Client 2
                            %li Client 3
                      / Gallery Item Modal Window Collapsable Info 2
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Tasks
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Task 1
                            %li Task 2
                            %li Task 3
                      / Gallery Item Modal Window Collapsable Info 3
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Skills
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Web Design &amp; Development
                            %li HTML, CSS &amp; JavaScript
                            %li Photoshop &amp; Illustrator
            / Gallery Item 3
            %li.gallery-item.all.print
              / Add filter name as class
              .image-area
                %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
                / Gallery Item Image
                .transparent-hover
                %span.plus-button
                / Gallery Item Description
                .gallery-item-description
                  %p This text could be a brief blurb about the project and your role in creating it.
                %button.gallery-show-modal
              / Gallery Item Title and Category
              %h5 Project Title Here
              %span.category Print Design
              .gallery-modal-container
                .gallery-inner-container.grey
                  .portfolio-modal
                    %button.close-button X
                    .image-area
                      %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
                      / Gallery Item Modal Window Image
                      .portfolio-nav
                        %button.gallery-prev &lt;
                        %button.gallery-next &gt;
                    .details
                      / Gallery Item Modal Window Title
                      %h2 Project Detail Title
                      / Gallery Item Modal Window Content
                      .project-info
                        %span Print Design
                        %span.separator ::
                        %span February 2013
                      %p.content
                        Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                        ipsum
                        varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                        neque.
                        Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                        vestibulum
                        aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                    .collapsable-items-container
                      / Gallery Item Modal Window Collapsable Info 1
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Client
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Client 1
                            %li Client 2
                            %li Client 3
                      / Gallery Item Modal Window Collapsable Info 2
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Tasks
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Task 1
                            %li Task 2
                            %li Task 3
                      / Gallery Item Modal Window Collapsable Info 3
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Skills
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Web Design &amp; Development
                            %li HTML, CSS &amp; JavaScript
                            %li Photoshop &amp; Illustrator
            / Gallery Item 4
            %li.gallery-item.all.branding
              / Add filter name as class
              .image-area
                %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
                / Gallery Item Image
                .transparent-hover
                %span.plus-button
                / Gallery Item Description
                .gallery-item-description
                  %p This text could be a brief blurb about the project and your role in creating it.
                %button.gallery-show-modal
              / Gallery Item Title and Category
              %h5 Project Title Here
              %span.category Illustration
              .gallery-modal-container
                .gallery-inner-container.grey
                  .portfolio-modal
                    %button.close-button X
                    .image-area
                      %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
                      / Gallery Item Modal Window Image
                      .portfolio-nav
                        %button.gallery-prev &lt;
                        %button.gallery-next &gt;
                    .details
                      / Gallery Item Modal Window Title
                      %h2 Project Detail Title
                      / Gallery Item Modal Window Content
                      .project-info
                        %span Illustration
                        %span.separator ::
                        %span February 2013
                      %p.content
                        Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                        ipsum
                        varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                        neque.
                        Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                        vestibulum
                        aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                    .collapsable-items-container
                      / Gallery Item Modal Window Collapsable Info 1
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Client
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Client 1
                            %li Client 2
                            %li Client 3
                      / Gallery Item Modal Window Collapsable Info 2
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Tasks
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Task 1
                            %li Task 2
                            %li Task 3
                      / Gallery Item Modal Window Collapsable Info 3
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Skills
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Web Design &amp; Development
                            %li HTML, CSS &amp; JavaScript
                            %li Photoshop &amp; Illustrator
            / Gallery Item 5
            %li.gallery-item.all.web
              / Add filter name as class
              .image-area
                %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
                / Gallery Item Image
                .transparent-hover
                %span.plus-button
                / Gallery Item Description
                .gallery-item-description
                  %p This text could be a brief blurb about the project and your role in creating it.
                %button.gallery-show-modal
              / Gallery Item Title and Category
              %h5 Project Title Here
              %span.category Web Design
              .gallery-modal-container
                .gallery-inner-container.grey
                  .portfolio-modal
                    %button.close-button X
                    .image-area
                      %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
                      / Gallery Item Modal Window Image
                      .portfolio-nav
                        %button.gallery-prev &lt;
                        %button.gallery-next &gt;
                    .details
                      / Gallery Item Modal Window Title
                      %h2 Project Detail Title
                      / Gallery Item Modal Window Content
                      .project-info
                        %span Web Design
                        %span.separator ::
                        %span February 2013
                      %p.content
                        Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                        ipsum
                        varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                        neque.
                        Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                        vestibulum
                        aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                    .collapsable-items-container
                      / Gallery Item Modal Window Collapsable Info 1
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Client
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Client 1
                            %li Client 2
                            %li Client 3
                      / Gallery Item Modal Window Collapsable Info 2
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Tasks
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Task 1
                            %li Task 2
                            %li Task 3
                      / Gallery Item Modal Window Collapsable Info 3
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Skills
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Web Design &amp; Development
                            %li HTML, CSS &amp; JavaScript
                            %li Photoshop &amp; Illustrator
            / Gallery Item 6
            %li.gallery-item.all.print
              / Add filter name as class
              .image-area
                %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
                / Gallery Item Image
                .transparent-hover
                %span.plus-button
                / Gallery Item Description
                .gallery-item-description
                  %p This text could be a brief blurb about the project and your role in creating it.
                %button.gallery-show-modal
              / Gallery Item Title and Category
              %h5 Project Title Here
              %span.category Print Design
              .gallery-modal-container
                .gallery-inner-container.grey
                  .portfolio-modal
                    %button.close-button X
                    .image-area
                      %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
                      / Gallery Item Modal Window Image
                      .portfolio-nav
                        %button.gallery-prev &lt;
                        %button.gallery-next &gt;
                    .details
                      / Gallery Item Modal Window Title
                      %h2 Project Detail Title
                      / Gallery Item Modal Window Content
                      .project-info
                        %span Print Design
                        %span.separator ::
                        %span February 2013
                      %p.content
                        Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                        ipsum
                        varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                        neque.
                        Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                        vestibulum
                        aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                    .collapsable-items-container
                      / Gallery Item Modal Window Collapsable Info 1
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Client
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Client 1
                            %li Client 2
                            %li Client 3
                      / Gallery Item Modal Window Collapsable Info 2
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Tasks
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Task 1
                            %li Task 2
                            %li Task 3
                      / Gallery Item Modal Window Collapsable Info 3
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Skills
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Web Design &amp; Development
                            %li HTML, CSS &amp; JavaScript
                            %li Photoshop &amp; Illustrator
            / Gallery Item 7
            %li.gallery-item.all.photography
              / Add filter name as class
              .image-area
                %img{alt: "portfolio-thumb", src: "images/gallery-thumbnail-placeholder.png"}/
                / Gallery Item Image
                .transparent-hover
                %span.plus-button
                / Gallery Item Description
                .gallery-item-description
                  %p This text could be a brief blurb about the project and your role in creating it.
                %button.gallery-show-modal
              / Gallery Item Title and Category
              %h5 Project Title Here
              %span.category Photography
              .gallery-modal-container
                .gallery-inner-container.grey
                  .portfolio-modal
                    %button.close-button X
                    .image-area
                      %img{alt: "portfolio-large-image", src: "images/gallery-large-image-placeholder.png"}/
                      / Gallery Item Modal Window Image
                      .portfolio-nav
                        %button.gallery-prev &lt;
                        %button.gallery-next &gt;
                    .details
                      / Gallery Item Modal Window Title
                      %h2 Project Detail Title
                      / Gallery Item Modal Window Content
                      .project-info
                        %span Photography
                        %span.separator ::
                        %span February 2013
                      %p.content
                        Lorem ipsum dolor sit amet, consectetur adipis lescing elit. In id purus sit amet
                        ipsum
                        varius semper et ut turpis. Nam egestas sapien sit amet tellus ornare feugiat. Mauris quis nunc
                        neque.
                        Duis posuere felis et leo lacinia, eu vestibulum lectus mattis. Vivamus porta eu libero
                        vestibulum
                        aliquet. Cras mi est, ultricies sed mauris in placerat tincidunt.
                    .collapsable-items-container
                      / Gallery Item Modal Window Collapsable Info 1
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Client
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Client 1
                            %li Client 2
                            %li Client 3
                      / Gallery Item Modal Window Collapsable Info 2
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Tasks
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Task 1
                            %li Task 2
                            %li Task 3
                      / Gallery Item Modal Window Collapsable Info 3
                      .collapsable-item
                        .clickable-area
                          %button +
                          / Gallery Item Modal Window Collapsable Info Label
                          %h4 Skills
                        .hidden-container
                          / Gallery Item Modal Window Collapsable Info Content
                          %ul
                            %li Web Design &amp; Development
                            %li HTML, CSS &amp; JavaScript
                            %li Photoshop &amp; Illustrator
  / Clients Row
  #row5.row
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Clients
        %h2 We value each and every one of our clients, and strive to keep them happy.
        .clear
      / Row Contents
      .content-container
        %h3 Praise from Our Happy Clients
        / Testimonials
        #testimonials
          / Testimonial 1
          .testimonial
            %p
              Morbi interdum mollis sapien. Sed ac risus phasellus lacinia magna allam corper laoreet. Lectus
              arcu a pulvinar ri sus, vitae facilisis libero dolor puru sed vel lacus mauris sodales
              tellus.
            .testimonial-by-container
              %span.testimonial-by
                James Doe
                %span ::
              %span.testimonial-by-company Company Name
            .clear
            %span
          / Testimonial 2
          .testimonial
            %p
              Morbi interdum mollis sapien. Sed ac risus phasellus lacinia magna allam corper laoreet. Lectus
              arcu a pulvinar ri sus, vitae facilisis libero dolor puru sed vel lacus mauris sodales
              tellus.
            .testimonial-by-container
              %span.testimonial-by
                James Doe
                %span ::
              %span.testimonial-by-company Company Name
            .clear
            %span
          / Testimonial 3
          .testimonial
            %p
              Morbi interdum mollis sapien. Sed ac risus phasellus lacinia magna allam corper laoreet. Lectus
              arcu a pulvinar ri sus, vitae facilisis libero dolor puru sed vel lacus mauris sodales
              tellus.
            .testimonial-by-container
              %span.testimonial-by
                James Doe
                %span ::
              %span.testimonial-by-company Company Name
            .clear
            %span
          / Testimonial 4
          .testimonial
            %p
              Morbi interdum mollis sapien. Sed ac risus phasellus lacinia magna allam corper laoreet. Lectus
              arcu a pulvinar ri sus, vitae facilisis libero dolor puru sed vel lacus mauris sodales
              tellus.
            .testimonial-by-container
              %span.testimonial-by
                James Doe
                %span ::
              %span.testimonial-by-company Company Name
            .clear
            %span
          .clear
        / Client Slider
        %h3 A Few of Our Happy Clients
        #client-slider-container
          #client-slider
            .client-logo
              %img{alt: "client-logo", src: "images/client-logo-placeholder.png"}/
              / Client Logo 1
            .client-logo
              %img{alt: "client-logo", src: "images/client-logo-placeholder.png"}/
              / Client Logo 2
            .client-logo
              %img{alt: "client-logo", src: "images/client-logo-placeholder.png"}/
              / Client Logo 3
            .client-logo
              %img{alt: "client-logo", src: "images/client-logo-placeholder.png"}/
              / Client Logo 4
            .client-logo
              %img{alt: "client-logo", src: "images/client-logo-placeholder.png"}/
              / Client Logo 5
  / Contact Row
  #row6.row.grey
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Contact
        %h2 Whether you're interested in hiring me for a site buildout, a Rails app, or full-time position, I'm all ears!
        .clear
        #form-alert
      / Row Contents
      .content-container
        .container.left
          %ul.social-disc
            %li
              %a.twitter{href: "https://twitter.com/randalmaile", target: "_blank"} Follow me on Twitter
            %li
              %a.linkedin{href: "http://www.linkedin.com/in/randalmaile/", target: "_blank"} Connect with me on LinkedIn
          / Contact Information
          .contact-details
            %ul
              %li
                %span.icon-home
                %span.contact-detail
                  1102 Turquoise St.
                  %br/
                  / Contact Address
                  San Diego, CA  92109
                .clear
              %li
                %span.icon-mobile-phone
                %span.contact-detail 858-717-1052
                / Contact Phone
                .clear
              %li
                %span.icon-envelope
                %span.contact-detail
                  %a{:href => "mailto:randalmaile@gmail.com"} randalmaile@gmail.com
                / Contact Email
                .clear
        .left.last
          / Contact Form
          %form#contact-form
            .input
              %span Name
              %input{name: "Name", type: "text"}/
            .input
              %span Email
              %input{name: "Email", type: "email"}/
            .input
              %span Subject
              %input{name: "Subject", type: "text"}/
            .textarea
              %span Message
              %textarea{name: "Message"}
            %span All fields required
            %button{type: "submit"} Submit
            .clear
        .clear
  .width-container
  #overlay
    %div
  / Footer
  %footer
    #upper-footer
      .width-container
        .info
          / Logo and Information
          .logo
            %h1
              RANDAL
              %span.green MAILE
            %a{href: "#"}
          %p
            Multi-facet are a passionate web agency committed to delivering goal oriented web sites that deliver
            fast results to clients. Experts in design, geniuses in user experience our aim is to develop as
            site that make your users do more of what you want your users to do. Nothing more and nothing
            less.
          .clear
        / News Section
        .news
          %h3 LATEST POSTS
          %ul
            / News 1
            %li
              / News Date
              .date
                %span.day 16
                %span.month Jul
              / News Description
              %span Mauris non mattis libero. Curabitur pellentesque massa vitae…
            / News 1
            %li
              / News Date
              .date
                %span.day 12
                %span.month Jul
              / News Description
              %span Mauris non mattis libero. Curabitur pellentesque massa vitae…
            / News 1
            %li
              / News Date
              .date
                %span.day 08
                %span.month Jul
              / News Description
              %span Mauris non mattis libero. Curabitur pellentesque massa vitae…
            %li.last
        / Tweets Section
        .tweets
          %h3 RECENT TWEETS
          .tweet-container
            %span.icon-twitter
            #tweet-inner-container
            #more-button-container
              %a.more-tweets{href: "#", target: "_blank"}
                %span more tweets
                %span.icon-caret-right
              .clear
          %a#top-button{href: "#main-slider-container"}
        .clear
    / Bottom of Footer
    #bottom-footer
      .width-container
        / Copyright info
        %span ©2013 Multifacet. All rights reserved
        / Social Media Links
        .social-links
          %ul
            %li
              %a.icon-twitter{href: "#"}
              / Twitter Link
            %li
              %a.icon-linkedin{href: "#"}
              / Linkedin Link
            %li
              %a.icon-pinterest{href: "#"}
              / Pinterest Link
            %li
              %a.icon-dribbble{href: "#"}
              / Dribble Link
            %li
              %a.icon-rss{href: "#"}
              / RSS Link
            %li
              %a.icon-facebook{href: "#"}
              / Facebook Link
        / Footer Navigation links
        %ul.nav
          %li
            %a{href: "#main-slider-container"} Home
          %li
            %a{href: "#row1"} Services
          %li
            %a{href: "#row2"} About
          %li
            %a{href: "#row3"} Team
          %li
            %a{href: "#row4"} Portfolio
          %li
            %a{href: "#row5"} Clients
          %li
            %a{href: "#row6"} Contact
        .clear
