#main-body-container
  / Contact Row
  #row5.row.grey
    .width-container
      / Row Headings
      .heading-container
        .container
          %table
            %tr
              %td
                %h1 Contact
        %h2 Whether you're interested in hiring me for a site buildout, a Rails app, or full-time position, I'm all ears!
        .clear
      .content-container
        .container.left
          %ul.social-disc
            %li
              %a.twitter{href: "https://twitter.com/randalmaile", target: "_blank"} Follow me on Twitter
            %li
              %a.linkedin{href: "http://www.linkedin.com/in/randalmaile/", target: "_blank"} Connect with me on LinkedIn
          / Contact Information
          .contact-details
            %ul
              %li
                %span.icon-home
                %span.contact-detail
                  1102 Turquoise St.
                  %br/
                  / Contact Address
                  San Diego, CA  92109
                .clear
              %li
                %span.icon-mobile-phone
                %span.contact-detail 858-717-1052
                / Contact Phone
                .clear
              %li
                %span.icon-envelope
                %span.contact-detail
                  %a{href: "mailto:randalmaile@gmail.com"} randalmaile@gmail.com
                / Contact Email
                .clear
        .left.last
          - client.user_timeline("randalmaile", count: "10").each do |tweet|
            %p= tweet.text
        .clear
  .width-container
  #overlay
    %div
